@import "vars";

@keyframes header {
  from {
    position: relative;
    top: 50px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.header {
  background-image: url(../../assets/home-img.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  .header-title {
    max-width: 1000px;

    h1,
    h2 {
      color: #fff;
      animation: header 1s 0.1s;
    }
    h2 {
      max-width: 700px;
      animation-delay: 0.2s;
    }
    a {
      color: $orangen;
      text-decoration: none;
      animation: header 1s 0.3s;
      transition: color 0.5s, background-color 0.5s;
      border-radius: 1rem;
    }
  }
}
.home-info {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cards {
  .underline {
    background-color: $orangen;
    height: 7px;
    width: 0px;
    transition: width 0.5s 0.5s;
  }
}
.cards:hover .underline {
  width: 300px;
}

.slogan {
  background-image: url(../../assets/mountains-bg.jpg);
  background-size: cover;
  height: 100vh;
  h1 {
    color: #fff;
  }
  .slogan-p {
    max-width: 900px;
    color: $orangen;
    transition: text-shadow 0.5s 0.5s;
  }
}
.slogan:hover .slogan-p {
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.815);
}

.team {
  background-color: rgb(233, 233, 233);
  color: rgb(66, 66, 66);
  padding-top: 150px;
  .underline {
    background-color: $orangen;
    height: 7px;
    width: 0px;
    transition: width 0.5s 0.3s;
  }
  p {
    max-width: 1000px;
  }
}
.team:hover .underline {
  width: 300px;
}

.about-d {
  max-width: 1000px;
  margin: 100px auto;
  .underline {
    background-color: $orangen;
    height: 7px;
    width: 0px;
    transition: width 0.5s 0.5s;
  }
}
.about-d:hover .underline {
  width: 300px;
}
.main{
  .underline{
    background-color: $orangen;
    height: 7px;
    width: 0px;
    transition: width 0.5s 0.5s;
  }
}
.main:hover .underline{
  width: 300px;
}

.c-title{
  max-width: 600px;
  margin: 0 auto;
  padding-top: 80px;
}

.form{
  max-width: 800px;
  margin: 0 auto;
  .btn{
    background-color: $orangen;
    color: #fff;
  }
}

footer {
  width: 100%;
  .f-title {
    color: $orangen;
  }

  .f-link {
    filter: invert(100%);
  }
}


.card-t{
  overflow: hidden;
  height: 400px;
}
.sw-card {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
  transition: filter .5s, transform .5s;
  color: #fff;
  text-decoration: none;
  
}
.tour-info{
  position: relative;
  width: 300px;
  top: -400px;

  .card-type, .card-discription{
    opacity: 0;
    transition: opacity .5s;
  }
  .card-discription{
    font-size: 16px;
  }
  .fs-sm{
    font-size: 14px;
  }
  .card-title{
    transition: transform .5s;
  }

}
a:hover .sw-card{
  filter: brightness(40%);
  transform: scale(1.1);
}
a:hover .card-type, a:hover .card-discription{
  opacity: 1;
}
a:hover .card-title{
  transform: scale(.7);
  color: $orangen;
}
